

<div class="row">
  <div class="col-lg-3">
  </div>

  <div id="newsfeed" class="col-lg-6">
    <div class="well">
      <div class="content form-group">
        <h5>
          <% for timeline in @user.timelines %>
              <%=form_for :comment, :url=>{:action=>"addcomment", :id=>timeline.id} do |f|%>
                  <p>
                    <%@owner = timeline.comments%>

                    <% for msgs in @owner %>
                      <div class="form-group">
                        <%= image_tag User.find(msgs.msg_id).image.url(:small) %></td>
                      </div>

                      <div class="form-group">
                        <%=msgs.msg%>
                        <br>
                        <%=msgs.created_at%>
                  <% end %>
                  </div>
                  </p>
                  <p>
                    <%= f.text_area :msg, class: 'form-control', autofocus: true, placeholder: 'Write a comment...' %>
                  </p>
                  <%= f.submit 'Add comments', class: 'btn btn-primary'%>
                  <br>
                  <hr>
                  <br>
              <% end %>
          <% end %>
        </h5>
      </div>


      </h5>
    </div>
  </div>
</div>

<div class="col-lg-3">
</div>

</div>


