<div class="container">
  <h1>Search Results</h1>
  <br />
  <p>
  <%for user in @users%>
      <%if user != current_user%>
            <%@fr = false%>
          <p>
          <p>
          <table width = "100">
            <tr>
              <td align = "left">
                <b> <%=user.Fname%> </b>
              </td>
            </tr>
          </table>
          </p>

          <table width = "400">
            <tr>
              <td align ="left"> <%= image_tag user.image.url(:small) %></td>
              <td align = "center"> <b> Location: </b>  <%=user.Address%> </td>
              <td align = "center"> <b> Birthday:</b> <%=user.DOB%> </td>
            </tr>
          </table>

          <p>
          <div class="btn-group">
            <div class="btn btn-xs">
              <%=button_to(" View profile ", :controller=>"dashboard", :action=>"home", :id=>user)%>
            </div>

            <% for friend in current_user.friends %>
                 <% if user.id == friend.id %>
                    <%@fr = true%>
                <%end%>
            <% end %>

            <% if @fr%>
                <div class="btn btn-xs">
                  <h1>Your friend!</h1>
                </div>
            <%else%>
                <div class="btn btn-xs">
                  <%=button_to(" Add to friends ",
                               url_for(:controller=>"dashboard", :action=>"addfriend", :friend_id=>user, :method=>:post),
                               :confirm=>"Are you sure?")%>
                </div>
            <%end%>



          </div>
          </p>
          <br />
      <%end%>
  <%end%>

</div>
