
  <title>View Your Friends</title>

<div class="container">

<h2><%=@user.Fname %>'s Friends</h2>
  <br>
<ul>
  <% for user in @user.friends %>
      <p>
      <p>
      <table width = "100">
        <tr>
          <td align = "left">
            <b> <%=user.Fname%> </b>
          </td>
        </tr>
      </table>
      </p>


      <table width = "400">
        <tr>
          <td align ="left"> <%= image_tag user.image.url(:small) %></td>
          <td align = "center"> <b> Location: </b>  <%=user.Address%> </td>
          <td align = "center"> <b> Birthday:</b> <%=user.DOB%></td>
        </tr>
      </table>
      <p>

      <% if @user == current_user%>
          <div class="btn-group">
            <div class="btn btn-xs">
              <%=button_to(" View profile ", :controller=>"dashboard", :action=>"home", :id=>user)%>
            </div>
            <div class="btn btn-xs">
              <%=button_to("Unfriend", :controller=>"dashboard", :action=>"unfriend", :friend_id=>user.id, :method=>:post)%>
            </div>
            <div class="btn btn-xs">
              <%=button_to("Send message", :controller=>"dashboard", :action=>"sendmessage", :id=>user.id, :method=>:post)%>
            </div>
          </div>
      <%end%>

  <% end %>
</ul>

  </div>
