<!DOCTYPE HTML>


<div class="container">

<h2>Edit Profile <%= resource_name.to_s.humanize %></h2>
  <br>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true, method:
      :put, class: 'form-horizontal' }) do |f| %>
      <%= devise_error_messages! %>

    <div class="field form-group">

      <p>
        <%= f.label :image %> </br>
        <%= f.file_field :image %>
        <br>
      </p>

      <p>
      <%= f.label :First_name %> </br>
      <%= f.text_field :Fname, :style => "width:30%", autofocus: true %>
      </p>

      <p>
      <%= f.label :Last_name %>  </br>
      <%= f.text_field :Lname,  :style => "width:30%", autofocus: true %>
      </p>

      <p>
      <%= f.label :Address %></br>
      <%= f.text_field :Address, :style => "width:30%", autofocus: true %>
      </p>

      <p>
    <%= f.label :email %></br>
    <%= f.email_field :email, :style => "width:30%", autofocus: true %>
    </p>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

    <p>
    <%= f.label :password %> </br> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, :style => "width:30%", autocomplete: "off" %>

    </p>

      <p>

    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :style => "width:30%", autocomplete: "off" %>
    </p>
      <p>

    <%= f.label :current_password %></br> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, :style => "width:30%", autocomplete: "off" %>
    </p>
    <p>
      <%= f.label "Birthday"%>
      </br>
      <%= f.date_select :DOB, start_year: 1920, end_year: 2015, default: 18.years.ago, autofocus: true %>
    </p>

    <p>
      <%= f.radio_button :gender, 'Female'%>
      <%= f.label :female %>
      <%= f.radio_button :gender, 'Male'%>
      <%= f.label :male %>
    </p>

      <p>
      <%= f.label :About %><br />
      <%= f.text_area :About, :style => "width:30%",  autofocus: true %>
      </p>

      <p>
      <%= f.label :Quotes %><br />
      <%= f.text_area :Fav_quotes, :style => "width:30%", autofocus: true %>
      </p>
    </div>

  <div class="actions">
    <%= f.submit "Update", class:"btn btn-primary", :style=>'width: 340px;' %>
  </div>
      </br>
<% end %>

</br>

<p> <strong>Unhappy? </strong> <%= button_to "Cancel My Account", registration_path(resource_name), class:"btn
btn-danger", data: {confirm: "Are you sure?" }, method: :delete %></p>

  </br>
  </br>
</div>
