<!DOCTYPE html>
<html>
<head>
  <%= render partial: "layouts/header" %>

  <title>Welcome to Facebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="blueBar" class="broke-endless-pages"></div>

<%= yield %>

</body>
</html>
