<!DOCTYPE html>
<html>
<head>
  <title>Devise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="blueBar" class="broke-endless-pages">
  <div id="logoBanner">
    <img src="/facebook.png", alt text="facebook logo", width="210"/>

  </div>
</div>

<div id="user_nav">
    <% if user_signed_in? %>
        Signed in as  <%= current_user.Fname%>. Not you?
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete%>
    <% else%>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
    <%end%>
    <%flash.each do |name, msg|%>
        <%= content_tag :div, msg, :id => "flash_#(name)"%>
    <%end%>
</div>




<%= yield %>

</body>
</html>
